// Specific CSS for your home-page
.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.sticky-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
