<div class="footer down-footer d-flex justyfy-content-beetween flex-wrap">

  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>

  </div>
  <div class="up">
    <a href="#top"><i class="fa-solid fa-up-long"></i>Arriba</a>
  </div>
  <div class="footer-copyright">
    <i class="fa-solid fa-caravan"></i>   Descubre la libertad sobre ruedas!
  </div>
</div>
