<div class="container shadow mt-3 p-3 w-50">
  <%= simple_form_for [@caravan, @reservation] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :finish_date %>
  <div class="d-flex justify-content-center">
    <%= f.submit class:"btn btn-primary"%>
  </div>
<% end %>
</div>
