 body .navbar {
  background-color: #d9d9d9
}

.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}


.nav-item .nav-link {
 color: rgb(59, 45, 178);

 font-family: "Nunito", "Helvetica", "sans-serif";
 font-size: 1.25rem;
font-weight: bold;

}


body {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
}

/* Other CSS styles for the navbar */
