 body .navbar {
  background-color: #ececec
}

.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}


.nav-item .nav-link {
 color: #0867af;

 font-family: "Nunito", "Helvetica", "sans-serif";
 font-size: 1.1rem;
font-weight: bold;

}


body {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
  background-color: #ececec;
}

/* Other CSS styles for the navbar */
